{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            {{#if image}}
                <div class="post-image" style="background-image: url({{image}})"></div>
            {{/if}}
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <p>
                    <time class="post-date" datetime="{{date format='YYYY-MM-DDTHH:mm:ssZ'}}">{{date format="DD MMMM YYYY"}}</time>
                </p>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <hr>

        <footer class="post-footer">
            <section class="author">
                <p>Published by {{author}} under {{tags}}.</p>
            </section>
        </footer>

    </article>
</main>

<hr>

<nav>
    <ul class="pager">
        {{#prev_post}}
        <li class="previous"><a href="{{url}}"><span aria-hidden="true">&larr;</span> {{title}}</a></li>
        {{/prev_post}}

        {{#next_post}}
        <li class="next"><a href="{{url}}">{{title}} <span aria-hidden="true">&rarr;</span></a></li>
        {{/next_post}}
    </ul>
</nav>

<hr>

<div id="disqus_thread"></div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = window.location.hostname === 'localhost' ? '' : 'rodrigosaling.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{{/post}}
