{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DDTHH:mm:ssZ'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <hr>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            <section class="author">
                <p>Published by <a href="{{url}}">{{name}}</a> under the tags {{tags prefix=" on "}}</p>
            </section>

        {{/author}}

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
