{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            {{#if image}}
                <div class="post-image" style="background-image: url({{image}})"></div>
            {{/if}}
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <p>
                    <time class="post-date" datetime="{{date format='YYYY-MM-DDTHH:mm:ssZ'}}">{{date format="DD MMMM YYYY"}}</time>
                </p>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <hr>

        <footer class="post-footer">
            <section class="author">
                <p>Published by {{author}} under {{tags}}.</p>
            </section>
        </footer>

    </article>
</main>

<hr>

<nav>
    <ul class="pager">
        {{#prev_post}}
        <li class="previous"><a href="{{url}}"><span aria-hidden="true">&larr;</span> {{title}}</a></li>
        {{/prev_post}}

        {{#next_post}}
        <li class="next"><a href="{{url}}">{{title}} <span aria-hidden="true">&rarr;</span></a></li>
        {{/next_post}}
    </ul>
</nav>

<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{{/post}}
